<table id="books" class="display" data-source="<%= books_url(format: "json") %>">
  <thead>
    <tr>
      <th>Szerző</th>
      <th>Cím</th>
      <th>Jelzet</th>
      <th>Kiadó</th>
      <th>Év</th>
      <th>Részletes leírás</th>
      <th>Kölcsönző</th>
      <% if user_is_admin? %>
      <th></th>
      <th></th>
      <% elsif user_is_librarian? %>
      <th></th>
      <% end %>  
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= if user_is_admin? or user_is_librarian? then '' else link_to 'Könyvtáros', action: :login end %>

