<h3>Felsőgödi Plébánia Katalógus</h3>

<table id="books" class="display" data-source="<%= books_url(format: "json") %>">
  <thead>
    <tr>
      <th>Szerző</th>
      <th>Cím</th>
      <th>Jelzet</th>
      <th>Kiadó</th>
      <th>Év</th>
      <th>Külső leírás</th>
<!--        
      <th></th>
      <th></th>
      <th></th>
-->      
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<!--        
<%= link_to 'New Book', new_book_path %>
-->
