select {
    width: inherit;
}
input[type="text"] {
    width: inherit;
    display: inline;
}
.dataTables_filter {
    float: left;
}
.dataTables_length {
    float: right;
}
table.dataTable td {
    padding: inherit;
    height: 30px;
}