select {
    width: inherit;
}
input[type="text"] {
    width: inherit;
    display: inline;
}
.dataTables_filter {
    float: left;
}
.dataTables_length {
    float: right;
}
table.dataTable td {
    padding: inherit;
    height: 30px;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border-radius: 2px;
}

table tr.stateKolcsonozve { background: #F7E6C8; }

.background {
    position: absolute;
    width: 100%;
    background: #e1e1e1;
}

#main {
    margin: 15px;
}